.bookPage {
  // border: 1px solid var(--theme-grey-2); // >[FOCUS]<
  height: calc($printPageHeight / 2 - 16px);
  padding: 16px;
  width: calc($printPageWidth / 2 - 8px);
  overflow: hidden;
}

.bookPageTitle {
  color: var(--theme-grey-7);
  font-size: var(--theme-text-size-2);
  font-weight: bold;
  line-height: var(--theme-line-size-2);
  margin-bottom: 1rem;
  text-align: center;
}

.bookPageText {
  &[data-underline] {
    color: var(--theme-grey-3);
    text-decoration: underline;
  }
}

.bookPageTextTab {
  margin-left: 1.5rem;
}

.bookPageTextVerseNumber {
  font-size: 0.75em;
  font-weight: bold;
}

.bookPageTextClosing {
  margin-left: 1.75rem;
}
