.printPage {
  color: var(--theme-grey-3);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 16px;
  width: $printPageWidth;
  height: $printPageHeight;
  border: 2px solid var(--theme-grey-2);
  margin: 16px;
  overflow: hidden;
}

.pageBreak {
  page-break-before: always;
}
