.printPage {
  position: relative;
}

.pageBreak {
  page-break-before: always;
}

.pageCut {
  background-color:  var(--theme-grey-1);
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.printPageOutline {
  color: var(--theme-black);
  display: flex;
  flex-wrap: wrap;
  height: $printPageHeight;
  justify-content: space-between;
  margin: 24px 16px 16px;
  overflow: hidden;
  position: relative;
  gap: 32px;
  width: $printPageWidth;
}
